
@import 'normalize';

html {
  font: 16px/1.5 Georgia, 'Bitstream Charter', serif;
}

body {
  margin: 2em 0 5em;
  color: #303338;
}

@media (min-width: 30em) {
  body {
    margin-top: 3em;
    background: #f0efe7;
  }
}

a {
  color: #05c;
  text-decoration: none;
}

a:hover, a:focus {
  text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Garamond', 'Georgia', 'Bitstream Charter', serif;
  color: #444;
}

h1 {
  font-size: 2.5em;
  text-align: center;
  margin-bottom: 0;
}

@media (min-width: 30em) {
  h1 {
    font-size: 3em;
  }
}

h1 a {
  color: inherit;
}

// used for tagline
h3 {
  margin-top: 0;
  margin-bottom: 2em;
  font-size: 1em;
  text-align: center;
}

h2 {
  font-size: 1.25em;
  margin-bottom: 0.4em;
}

@media (min-width: 30em) {
  h2 {
    font-size: 1.5em;
  }
}

p, ul, ol, dl, table, pre, blockquote {
  margin-top: 0;
  margin-bottom: 1em;
}

ul, ol {
  padding-left: 1.5em;
}

dd {
  margin-left: 1.5em;
}

blockquote {
  margin-left: 0;
  margin-right: 0;
  padding: .5em 1em;
  border-left: .25em solid #ccc;
  color: #666;
}

blockquote p:last-child {
  margin-bottom: 0;
}

hr {
  border: none;
  margin: 1.5em 0;
  border-bottom: 1px solid #ccc;
  position: relative;
  top: -1px;
}

.container img, .container iframe {
  max-width: 100%;
}

.container img {
  margin: 0 auto;
  display: block;
}

table {
  width: 100%;
  border: 1px solid #ccc;
  border-collapse: collapse;
}

td, th {
  padding: .25em .5em;
  border: 1px solid #ccc;
}

pre, code {
  font-family: 'Consolas', 'Menlo', 'Deja Vu Sans Mono', 'Bitstream Vera Sans Mono', monospace;
  background-color: #feb;
  color: #544;
  font-size: 0.95em;
}

pre {
  padding: .5em 1em;
}

code {
  padding: .1em .25em;
}

pre > code {
  padding: 0;
}

.container {
  background-color: #fff;
  max-width: 38em;
  margin: 0 auto;
  padding: 0.5em;
}

@media (min-width: 30em) {
  .container {
    border: solid 1px #e3e1d9;
    border-radius: 6px;
    padding: 1.6em;
  }
}

ul {
  padding-left: 1.0em;
}

@media (min-width: 30em) {
  ul {
    padding-left: 1.2em;
  }
}

